#button1 {
  padding: 24;
  font-size: 36;
}

#button2 {
  padding: 24;
  font-size: 36;
}

#button3 {
  padding: 24;
  font-size: 36;
}

#button4 {
  padding: 24;
  font-size: 36;
}

.op {
  padding: 24;
  font-size: 36;
}

div {
  padding: 10;
  font-size: 20;
}

button {
  padding: 10;
  font-size: 20;
}