#button1 {
  padding: 24;
  font-size: 36;
}

#button2 {
  padding: 24;
  font-size: 36;
}

#button3 {
  padding: 24;
  font-size: 36;
}

#button4 {
  padding: 24;
  font-size: 36;
}

.op {
  padding: 24;
  font-size: 36;
}

div {
  padding: 10;
  font-size: 20;
  font-family: 'Quicksand', sans-serif;
}

button {
  padding: 10;
  font-size: 25;
  background-color: dodgerblue;
  border-radius: 9px;
  cursor: pointer;
}

body {
  background-color: lightskyblue;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 30;
}

p1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 17;
}

.grid-container {
  height: 10vh;
  width: 75vw;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px 1fr 1fr 1fr;
  gap: 10px;
}

.container div {
  padding: 10px;
  border: 1px solid black;
}